@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.nav {
    border-color: #28A5CD;
}

.p {
    margin: 0;
    padding: 0;
}

#form_group_left {
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: #95999C;
    border-radius: 10px;
    margin-left: 150px;
}

#form_group_mid {
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: #95999C;
    border-radius: 10px;
    margin-left: 50px;
}

#form_group_right {
    width: 290px;
    margin-top: 200px;
    margin-left: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #95999C;
    border-radius: 10px;
}

#indication {
    margin-left: 150px;
    margin-bottom: 0;
    font-size: 12px;
    font-style: italic;
}

#main_Sender {
    margin-bottom: 0;
    margin-left: 10px;
}

#sender {
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 12px;
    font-family: 'Helvetica Neue';
}

#main_Receiver {
    margin-bottom: 0;
    margin-left: 10px;
}

#receiver {
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 12px;
    font-family: 'Helvetica Neue';
}

#address_box {
    width: 350px;
}

#package_info_header {
    padding:5px;
    padding-left:10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #95999C;
}
#package_data {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #66686A;
    padding-left:50px;
}

#btn_box {
    margin-top: 50px;
}

#nextBtn {
    margin-left: 130px;
    width: 130px;
    height: 50px;
    background: #28A5CD;
    color: white;
    font-family: 'Segoe UI';
    font-size: 20px;
    border: hidden;
}