<nav class="navbar navbar-expand-lg bg-blue">
	<div class="col-2 offset-1">
		<NavLink class="navbar-brand" href="#">
			<img src="/images/logo/logo-name-simple.svg" width="224" height="58" alt="">
		</NavLink>
	</div>
	<div class="col-3 offset-4">
		<ul class="navbar-nav justify-content-between">
			<li class="nav-item">
				<NavLink class="nav-link text-white text-25 text-orange-hover" href="#">Home</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link text-white text-25 text-orange-hover" href="#">Pricelist</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link text-white text-25 text-orange-hover" href="#">About</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link text-white text-25 text-orange-hover" href="#">Help & Support</NavLink>
			</li>
		</ul>
	</div>
	<div class="col-lg-1">
		<button type="button" class="btn btn-outline-orange border-3 text-25">Log In</button>
	</div>
</nav>