@page "/address"
<h3>AddressPage</h3>
<div class="container">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item ">
            <div class="nav-link">Product</div>
        </li>
        <li class="nav-item ">
            <div class="nav-link active">Address</div>
        </li>
        <li class="nav-item ">
            <div class="nav-link disabled">Payment</div>
        </li>
        <li class="nav-item ">
            <div class="nav-link disabled">Print</div>
        </li>
        <li class="nav-item ">
            <div class="nav-link disabled">Hand in</div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class=" col-sm-4">
            <form style="border:1px solid black">
                <div class="form-group" style="background-color:yellow;">
                    <label for="email">LEFT Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class=" col-sm-4">
            <form style="border:1px solid black">
                <div class="form-group" style="background-color:pink;">
                    <label for="email">MID Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class=" col-sm-4">
            <form style="border:1px solid black">
                <div class="form-group" style="background-color:lightskyblue;">
                    <label for="email">RIGHT Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

@code {

}