@page "/handin"
<MainNavbar />

<div class="container-fluid mt-3">
    <div class="row">
        <div class="p-2 col">
            <div id="hand-in-container">
                <div>
                    <h3 id="hand-in-header">Your payment has been received!!!</h3>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div id="text-group-left" class="p-2">
                            <h1>This is some random text 123445656778899</h1>
                        </div>
                    </div>
                    <div class="col-4">
                        <div id="text-group-right" class="p-2">

                            <h1>This is some random text 123445656778899</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}