@page "/"

<MainNavbar />

<h1>Hello, world!</h1>
<h5>Welcome to Alpacko!</h5>

<p>Some quick links.</p>
<ul>
    <li><a href="https://discord.com/channels/790913714001805342/790913714001805345">Discord</a></li>
    <li><a href="https://github.com/Abooow/Alpacko">GitHub</a></li>
    <li><a href="https://app.clubhouse.io/julprojekt">ClubHouse</a></li>
    <li><a href="https://drive.google.com/drive/folders/1aHvCgC-PeErRwHl3T6rcf1eLrTwj9RbX?usp=sharing">Google Drive</a></li>
</ul>