@page "/signout"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Signing out...</h3>

@code {
	protected override async Task OnInitializedAsync()
	{
		await AuthService.SignOut();

		NavigationManager.NavigateTo("#", true);
	}
}
